<% if @user %>
  <% provide :header, @user.name+"'s pools" %>
<% else %>
  <% provide :header, "All pools" %>
<% end %>

<% if can_modify? @user %>
  <%= form_for Pool.new do |f| %>
    <div class="form-group field">
      <%= f.text_field :title, placeholder: "Title" %>
      <%= hidden_field_tag "pool[user_id]", params[:user_id] %>
      <%= f.submit "New Pool", class: "btn btn-primary" %>
    </div>
  <% end %>
<% end %>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>User</th>
    </tr>
  </thead>

  <tbody>
    <% enum_for(pools: @pools) do |pool| %>
      <tr>
        <td><%= link_to pool.title, pool %></td>
        <td><%= pool.user.name %></td>
        <% if can_modify? pool.user %>
          <td><%= link_to "Destroy", pool, method: :delete, data: { confirm: "Are you sure?" } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
