<% provide :header, current_user.name+"'s pools" %>

<p id="notice"><%= notice %></p>

<% unless params[:user_id].nil? || params[:user_id].to_i != current_user.id %>
  <%= form_for :pool do |f| %>
    <div class="form-group field">
      <%= f.label :title %>
      <%= f.text_field :title %>
      <%= hidden_field_tag "pool[user_id]", params[:user_id] %>
      <%= f.submit "New Pool", class: "btn btn-primary spaced" %>
    </div>
  <% end %>
<% end %>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>User</th>
    </tr>
  </thead>

  <tbody>
    <% @pools.each do |pool| %>
      <tr>
        <td><%= link_to pool.title, pool %></td>
        <td><%= pool.user_id %></td>
        <% if current_user.is_admin? || pool.user_id == current_user.id %>
          <td><%= link_to 'Destroy', pool, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
