<% provide(:header, @pool.user.name+"'s "+@pool.title) unless User.where(id: @pool.user_id).empty? %>

<p id="notice"><%= notice %></p>

<% if @pool.user == current_user %>
  <%= form_for Submission.new do |f| %>
    <%= f.label :title %>
    <%= f.text_field :title %><br />
    <div class = "row">
      <div class = "col s12 m9 file-field input-field">
        <div class = "btn fl">
          <span>Picture</span>
          <%= f.file_field :picture %>
        </div>
        <input class = "file-path validate fl" type = "text" />
      </div>
    </div>
    <%= f.check_box :adult %>
    <%= f.label :adult %><br />
    <%= hidden_field_tag "submission[pool_id]", @pool.id %>
    <%= f.submit "New Submission" %>
  <% end %>
  <hr />
<% end %>

<div>
  <% enum_for(submissions: @submissions) do |submission| %>
      <%= submission.title %>
  <% end %>
</div>