<% provide(:header, link_to(@pool.user.name, @pool.user)+"'s "+@pool.title) unless User.where(id: @pool.user_id).empty? %>

<% if can_modify? @pool.user %>
  <%= form_for Submission.new do |f| %>
    <div class = "row">
      <div class = "col s12 m6">
        <%= f.text_field :title, placeholder: "Title for New #{@pool.title} Submission" %>
        <div class = "input-field">
          <%= f.check_box :adult %><%= f.label :adult %>
        </div>
        <div class = "file-field input-field submit">
            <span>Image File</span>
            <%= f.file_field :picture %>
        </div>
        <%= hidden_field_tag "submission[pool_id]", @pool.id %>
        <div class = "input-field">
          <%= f.submit "Create New Submission" %>  
        </div>
      </div>
      <div class = "col s12 m6 preview">
      </div>
    </div>
    
  <% end %>
  <hr />
<% end %>

<div class = "row gallery">
  <% enum_for(submissions: @submissions) do |submission| %>
    <div class = "thumbnail-block">
      <%= link_to submission do %>
        <%= submission.title %>
        <%= image_for :bordered, submission.file_id %>
        <% if can_modify? submission.pool.user %>
          <h5><%= link_to "Destroy", submission, method: :delete, data: { confirm: "Are you sure?" } %></h5>
        <% end %>
      <% end %>
    </div>
  <% end %>
  <% 11.times do %>
    <div class = "thumbnail-block spacer"></div>
  <% end %>
</div>