<% provide(:header, link_to(@pool.user.name, @pool.user)+"'s "+@pool.title) unless User.where(id: @pool.user_id).empty? %>

<% if can_modify? @pool.user %>
  <div class = "row new">
    <%= render "submissions/fields", submission: Submission.new, upload: Upload.new %>
  </div>
  <hr />
<% end %>

<div class = "row gallery">
  <% enum_for @submissions do |submission| %>
    <div class = "thumbnail-block">
      <%= link_to submission do %>
        <%= title_for submission: submission %>
        <%= image_for :bordered, submission.file_id %>
        <% if can_modify? submission.pool.user %>
          <h5><%= link_to "Destroy", submission, method: :delete, data: { confirm: "Are you sure?" } %></h5>
        <% end %>
      <% end %>
    </div>
  <% end %>
  <% 11.times do %>
    <div class = "thumbnail-block spacer"></div>
  <% end %>
</div>