<% unless anon? %>
  <div class = "row new">
    <%= form_for Message.new, url: @submission.nil?? pms_path(current_user.name, defined?(recipient)? recipient : nil) : comments_path(@submission.id), remote: true do |f| %>
      <%= f.text_area :content, placeholder: @submission.nil?? "Message Body" : "Comment" %>
      <div class = "preview"></div>
      <%= f.hidden_field :message_id, value: message_id if defined? message_id %>
      <%= f.submit defined?(message_id)? "Reply" : defined?(recipient)? "PM #{recipient}" : "Post as #{current_user.name}" %>
      <%= f.submit "Preview", class: "preview-button" %>
    <% end %>
  </div>
<% end %>