<% unless anon? %>
  <div class = "row">
    <%= form_for Message.new, url: comments_path(@submission.id) do |f| %>
      <%= f.text_area :content %>
      <div class = "preview"></div>
      <%= f.hidden_field :recipient_id, value: recipient_id if defined? recipient_id %>
      <%= f.submit defined?(recipient_id)? "Reply" : "Post as #{current_user.name}" %>
      <%= f.submit "Preview", class: "preview-button" %>
    <% end %>
  </div>
<% end %>