<div class = "row comment" id = <%= pm.id %> >
  <div class = "col s6 m4 l3 hc">
    <%= avatar_for pm.user %>
  </div>
  <div class = "col s6 m8 l9">
    <h5 class = "truncate"><%= pm.user.name %></h5>
    <div class = "col s4">
      <blockquote class = "inline link"><%= link_to "Reply" %></blockquote>
    </div>
    <div class = "col s4">
      <blockquote class = "inline link"><%= link_to "Expand" %></blockquote>
    </div>
    <div class = "col s4">
      <blockquote class = "inline link"><%= link_to "Quote" %></blockquote>
    </div>
  </div>
  <div class = "col s12 m8 l9">
    <blockquote class = "inline"><%= pm.content %></blockquote>
  </div>
</div>