<blockquote>

  <p class = "padded">
  Welcome to <%= CONFIG[:name] %>! <%= CONFIG[:name] %> is for commissioners and commission artists. It provides tools to streamline the process, a place to connect, and the opportunity to display the work you do and the work that's been done for you. You can search for artists by tags (the kind of artwork they do) and by commission statuses (open, closed, etc.). If you're an artist, you can be searched by potential commissioners in the same way.
  </p>

  <p class = "spaced">
  Some things you can do once you've registered:
  <p>

  <ul>
    <li>Set up your profile: set an avatar and fill out the information about you you want displayed on the main page.</li>
    <li>Search by tag and status for users who have already set up their profiles.</li>
    <li>Upload pictures as submissions to your gallery or other pools.</li>
    <li>Comment on submissions and send PMs.</li>
    <li>Use our built-in <%= link_to "kanban workboard", "https://en.wikipedia.org/wiki/Kanban_board" %> as an intelligent commission queue.</li>
    <li>Make custom order forms that you as an artist can send to those who want to order work from you.</li>
  </ul>

  <p>
  Some things that are planned for the future:
  </p>

  <ul>
    <li>YCH and auction support.</li>
    <li>Support for text, audio, and video submissions.</li>
    <li>Hooking up with <%= link_to "InkedFur", CONFIG[:inkedfur] %> as a print provider so you can order prints of images uploaded on <%= CONFIG[:name] %>.</li>
    <li>Handling credit cards so commissions can be ordered and paid for all at once.</li>
    <li>Patreon- and Kickstarter-like systems that are well designed, allow adult projects, and don't cut into your profits as much.</li>
    <li>Realtime chat.</li>
    <li>Forum.</li>
    <li>Polls.</li>
  </ul>

  <p class = "padded">
  We hope you enjoy yourself!
  </p>

  <p>
  Please keep in mind that this site is made by one person (Twilight Stormshi) and hosted out of pocket by one person (Aurali).
  </p>

</blockquote>