<div class = "row">
  <div class = "col centered">
    <ul class = "pagination">
      <% if @page > 1 %>
        <li class = "jump-arrow">
          <%= link_to @path.call(1) do %>
            <span><i class = "material-icons">arrow_back</i></span>
          <% end %>
        </li>
        <li>
          <%= link_to @path.call(@page - 1) do %>
            <span><i class = "material-icons">chevron_left</i></span>
          <% end %>
        </li>
      <% end %>
      <% ((@page - 2)..(@page + 2)).each do |index| %>
        <% if index == @page %>
          <li class = "active"><a><span><%= index %></span></a></li>
        <% elsif index > 0 and @total > (index - 1) * @results_per_page %>
          <li>
            <%= link_to @path.call(index) do %>
              <span><%= index %></span>
            <% end %>
          </li>
        <% end %>
      <% end %>
      <% unless @total <= @page * @results_per_page %>
        <li>
          <%= link_to @path.call(@page + 1) do %>
            <span><i class = "material-icons">chevron_right</i></span>
          <% end %>
        </li>
        <li class = "jump-arrow">
          <%= link_to @path.call((@total.to_f / @results_per_page.to_f).ceil) do %>
            <span><i class = "material-icons">arrow_forward</i></span>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
<hr />