<div class = "row limit-height">
  <div class = "col s6">
    <%= cell(:image, @user.avatar).(:limited) %>
  </div>
  <div class = "col s6 top-padded">
    <%= cell(:user, @user).(:status, :show) %>
    <%= cell(:user, @user).(:links) %>
  </div>
</div>
<div class = "row">
  <div class = "col s12">
    <%= cell(:user, @user).(:attributes) %>
    <blockquote class = "inline"><%= render_markdown @model.details %></blockquote>
  </div>
</div>