<% unless @reply %>
  <div class = "row hidable max">
    <div class = "hidable-title"><%= @model.subject || "Conversation initiated by #{@model.user.name}" %></div>
<% end %>
<div class = "col message indent-<%= @indent %> <%= @background %> <%= @reply %>" id = "<%= @model.id %>" >
  <div class = "col s6 m4 l3 hc">
    <%= link_to @parent_controller.user_path(@model.user) do %>
      <%= cell(:image).(:show, type: :bordered, id: @model.user.avatar) %>
    <% end %>
  </div>
  <div class = "col s6 m8 l9">
    <h5 class = "truncate"><%= @model.user.name %></h5>
  </div>
  <% unless @parent_controller.anon? %>
    <div class = "col s6">
      <blockquote class = "inline link js"><a class = "reply">Reply</a></blockquote>
      <blockquote class = "inline help nojs" title = '<%= "To reply, include >>#{@model.id} in your message. The first reply marker like this given is the one that will be used." %>' ><%= ">>#{@model.id}" %></blockquote>
    </div>
    <% end %>
  <div class = "col s12 m8 l9">
    <blockquote class = "inline"><%= @parent_controller.render_markdown @model.content %></blockquote>
  </div>
</div>
<% @model.replies.each do |reply| %>
  <%= cell(:message, reply).(:full, indent: @indent+1) %>
<% end %>
<% unless @reply %>
  </div>
<% end %>