<div class = "row message indent-<%= @indent %> <%= @background %> <%= @reply %>" id = <%= @model.id %> >
  <input type = "hidden" id = "created-at" value = '<%= @model.created_at %>' >
  <div class = "col s6 m4 l3 hc">
    <%= link_to @parent_controller.user_path(@model.user) do %>
      <%= cell(:image).(:show, type: :bordered, id: @model.user.avatar) %>
    <% end %>
  </div>
  <div class = "col s6 m8 l9">
    <h5 class = "truncate"><%= @model.user.name %></h5>
  </div>
  <% unless @parent_controller.anon? %>
    <div class = "col s6">
      <blockquote class = "inline link"><a class = "reply">Reply</a></blockquote>
    </div>
    <% end %>
  <div class = "col s12 m8 l9">
    <blockquote class = "inline"><%= @parent_controller.render_markdown @model.content %></blockquote>
  </div>
</div>
<% @model.replies.each do |reply| %>
  <%= cell(:message, reply).(:show, indent: @indent+1) %>
<% end %>