<% provide :header, @user.name+"'s workboard" %>

<% if can_modify? @user %>
  <%= form_for KanbanList.new, url: new_list_path do |f| %>
    <%= f.text_field :title, placeholder: "Title" %>
    <%= f.submit "New List", class: "submit" %>
  <% end %>
  <hr />
<% end %>

<div class = "row">
  <% enum_for workcards: @kanban_lists do |l| %>
    <div class="col s12 l4">
      <div class = "card">
        <div class = "card-content">
          <div class = "card-title">
            <% if current_user? @user %>
              <%= form_for l, url: list_path(kanban_list_id: l), method: :patch do |f| %>
                <%= f.text_field :title, placeholder: "List Title" %>
                <%= f.submit "Save" %>
              <% end %>
            <% else %>
              <h5><%= title_for list: l %></h5>
            <% end %>
          </div>
          <hr />
          <% if can_modify? @user %>
            <div class = "card">
              <div class = "card-content">
                <div class = "card-title">
                  <%= form_for KanbanCard.new, url: new_card_path(kanban_list_id: l) do |f| %>
                    <%= f.text_field :title, placeholder: "Title" %>
                </div>
                <div class = "card-action">
                    <%= f.submit "New Item" %>
                  <% end %>
                </div>
              </div>
            </div>
          <% end %>
          <% enum_for cards: l.cards do |cid| %>
          <% c = KanbanCard.find(cid) %>
            <div class="card">
              <div class = "card-content">
                <div class = "card-title">
                  <% if can_modify? @user %>
                    <%= form_for c, url: card_path(kanban_list_id: l, kanban_card_id: cid), method: :patch do |f| %>
                      <%= f.text_field :title, placeholder: "Card Title" %>
                </div>
                <div class = "card-action">
                      <%= f.fields_for c.file_id.nil?? Upload.new : Upload.find(c.file_id), multipart: true do |u| %>
                        <div class = "row file-field input-field submit">
                          <span>Picture</span>
                          <%= u.file_field :picture %>
                        </div>
                        <div class = "input-field">
                          <%= u.check_box :explicit %><%= u.label :explicit %>
                        </div>
                        <% if c.file_id %>
                          <div class = "preview thumbnail nojs">
                            <%= link_to (image_for :bordered, c.file_id), image_path(:full, c.file_id) %>
                          </div>
                        <% end %>
                      <% end %>
                      <%= f.submit "Save" %>
                      <%= f.submit :submit, name: "kanban_card[order]", value: "Move Up" %>
                      <%= f.submit :submit, name: "kanban_card[order]", value: "Move Down" %>
                      <%= link_to "Delete", destroy_card_path(kanban_list_id: l, kanban_card_id: cid), method: :destroy, class: "submit" %>
                    <% end %>
                  <% else %>
                    <h5><%= title_for card: c %></h5>
                    <% if c.file_id %>
                      <div class = "nojs">
                        <%= link_to (image_for :bordered, c.file_id), image_path(:full, c.file_id) %>
                      </div>
                    <% end %>
                  <% end %>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>