<% provide :header, @user.name+"'s workboard" %>

<% if current_user? @user %>
  <%= form_for KanbanList.new, url: workboard_path do |f| %>
    <%= f.text_field :title, placeholder: "Title" %>
    <%= f.submit "New List", class: "submit" %>
  <% end %>
<% end %>

<% @kanban_lists.each do |l| %>
  <div class="kanbanlist fl">
    <%= l.title %>
    <hr />
    <% if current_user? @user %>
      <%= form_for KanbanCard.new, url: new_card_path(kanban_list_id: l) do |f| %>
        <%= f.text_field :title, placeholder: "Title" %>
        <%= f.submit "New Item", class: "submit" %>
      <% end %>
    <% end %>
    <% l.cards.each do |cid| %>
      <% c = KanbanCard.find(cid) %>
      <div class="kanbancard">
        <% if current_user? @user %>
          <%= form_for c, url: card_path(kanban_list_id: l, kanban_card_id: cid), method: :patch do |f| %>
            <%= f.label :title %> <%= f.text_field :title %><br />
            <%= f.label :order %> <%= f.number_field :order, value: 0 %> <%= f.submit "Save", class: "submit" %>
          <% end %>
        <% else %>
          <%= c.title %>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>