<table class = "comment indent-<%= indent %> <%= "special" if current_user == model.comment_author and current_user.setting(:border_comments) %>" id = <%= model.id %>>
  <tbody>
    <tr>
      <td><%= render "partials/image_container", {image: model.comment_author.avatar, type: :bordered}%></td>
      <td>
        <h5>
          <%= link_to user_path(model.comment_author) do %>
            <div class = "author"><%= model.comment_author.name %></div>
          <% end %>
        </h5>
        <blockquote><%= render_markdown model.content %></blockquote>
      </td>
      <% unless anon? %>
        <td class = "button-area"></td>
      <% end %>
    </tr>
  </tbody>
</table>
<% model.comments.each do |comment| %>
  <%= render "comments/show", model: comment, indent: indent+1 %>
<% end %>