<%= fields_for Image.new do |i| %>
  <div class = "file-field hidden">
    <div class = "submit">
      <span>Image</span>
      <%= i.file_field :image %>
    </div>
  </div>
  <div class = "image-preview">
    <% check_box_for = SecureRandom.uuid %>
    <%= i.check_box :explicit, { checked: @model.explicit, id: "image_#{check_box_for}" } %><%= i.label check_box_for, "Explicit", class: "padded" %>
    <div class = "click-area">
      <%= cell(:image, @model).(options[:type] || :limited) %>
      <label>Click preview image to change</label>
      <label>(any size image, will be expandable to viewer)</label>
    </div>
  </div>
<% end %>