<span>
  <%= link_to "About", static_path(:about) %>
  <div class = "vdiv"></div>
  <%= link_to "All Pools", all_pools_path %>
  <div class = "vdiv"></div>
  <%= link_to "All Submissions", submissions_path %>
  <div class = "vdiv"></div>
  <%= link_to "Privacy Policy", static_path(:privacy_policy) %>
  <div class = "vdiv"></div>
  <%= link_to "Terms of Service", static_path(:terms_of_service) %>
</span>