<%= render 'shared/error_messages' %>

<div id="flexbox">
  <div id="left">
    <% controller.fields.each do |key, value| %>
      <%= content_tag :div, class: value[:div_class] || "form-group" do %>
        <%= f.label value[:label] || key %>
        <%= f.send value[:field] || "text_field", key, class: "form-control" %>
      <% end %>
    <% end %>

    <label>I am currently taking:</label>
    <% controller.checkboxes.each do |key, value| %>
      <%= content_tag :div, class: value[:div_class] || "button-group" do %>
        <%= f.send value[:button] || "check_box", key, class: "button-control" %>
        <%= f.label value[:label] || key %>
        <% if value["prices"] %>
          <br />
          <span id = "prices">
            <%= f.label :price, "Prices" %>
            <%= f.text_area :price, class: "form-control" %>
          </span>
        <% end %>
      <% end %>
    <% end %>
  </div>

  <div id="right">
    <div class="form-group">
        <%= f.label :file, "Avatar" %>
        <div id="hide_avatar"></div>
        <%= f.file_field :picture, class: "uploader" %>
        <% if !@user.upload.nil? %>      
          <%= f.check_box("avatar_check", :checked => false) %> Check if you want to change your avatar from: 
          <%= image_tag(image_thumb_path(@user.upload.id)) %>
        <% end %>
    </div>
    <div id="avatar">
      <img id="avatar_img" />
    </div>
  </div>
</div>