<%= render 'shared/error_messages' %>
<% fields = controller.new_edit_fields %>
<% checkboxes = controller.new_edit_checkboxes %>

<div id="left">
  <% fields.each do |key, value| %>
    <%= content_tag :div, class: value[:div_class] || "form-group", id: key do %>
      <%= f.label value[:label] || key %>
      <%= f.send value[:field] || "text_field", key, class: "form-control" %>
    <% end %>
  <% end %>

  <label>I am currently taking:</label>
  <% checkboxes.each do |key, value| %>
    <%= content_tag :div, class: value[:div_class] || "button-group", id: key do %>
      <%= f.send value[:button] || "check_box", key, class: "button-control" %>
      <%= f.label value[:label] || key %>
    <% end %>
  <% end %>
</div>

<div id="right">
  <div class="form-group">
      <%= f.label :file, "Avatar" %>
      <div id="hide_avatar"></div>
      <%= f.file_field :picture, class: "uploader" %>
      <% if !@user.upload.nil? %>      
        <%= f.check_box("avatar_check", :checked => false) %> Check if you want to change your avatar from: 
        <%= image_tag(image_thumb_path(@user.upload.id)) %>
      <% end %>
  </div>
  <div id="avatar">
    <img id="avatar_img" />
  </div>
</div>