<div class = "col s6">
  <div id = "watch">
    <%= render "watch_link", user: user %>
  </div>
  <% if user.pools.any? %>
    <blockquote class = "inline link"><%= link_to "Gallery", gallery_path(user) %><%= link_to "(ies)", pools_path(user) %></blockquote>
  <% else %>
    <blockquote class = "inline danger link">No Pools</blockquote>
  <% end %>
  <blockquote class = "inline link"><%= link_to "Workboard", cards_path(user.name) %></blockquote>
</div>
<div class = "col s6">
  <% if current_user? user %>
    <blockquote class = "inline link"><%= link_to "Conversations", pms_path(current_user.name) %></blockquote>
  <% else %>
    <blockquote class = "inline link"><%= link_to "PM", pms_path(current_user.name, user.name) %></blockquote>
  <% end %>
  <blockquote class = "inline link danger"><span>Order</span></blockquote>
  <blockquote class = "inline link"><%= link_to "Activity", messages_path(user) %></blockquote>
</div>