<span id = "watch">
	<%= render "/users/watch", {model: model} %>
</span>
<% if model.pools.length < 1 %>
  <span class = "inline link danger">No Gallery</span>
  <% if current_user? model %>
    <span class = "link"><%= link_to "Pools", pools_path(model) %></span>
  <% else %>
    <span class = "inline danger link">No Pools</span>
  <% end %>
<% else %>
  <span class = "inline link"><%= link_to "Gallery", gallery_path(model) %></span>
  <% if model.pools.length == 1 %>
    <span class = "inline link danger">No more Pools</span>
  <% else %>
    <span class = "inline link"><%= link_to "More Pools...", pools_path(model) %></span>
  <% end %>
<% end %>
<% if current_user? model %>
  <span class = "inline link"><%= link_to "Conversations", pms_path(current_user) %></span>
<% else %>
  <span class = "inline link"><%= link_to "Send PM", pm_author_path(current_user, model) %></span>
<% end %>
<% if can_order? model and !model.setting(:disabled_order_link) %>
  <span class = "inline link"><%= link_to "Place Order", new_order_path(model.order_form) %></span>
<% else %>
  <span class = "inline link danger">Not Accepting Orders</span>
<% end %>
<% unless current_user? model %>
  <span class = "inline link"><%= link_to "View Workboard", cards_path(model) %></span>
<% else %>
  <span class = "inline link"><%= link_to "Edit Workboard", cards_path(model) %></span>
<% end %>