<div class = "col s4">
  <li><%= link_to "Activity", messages_path(current_user) %></li>
  <li><%= link_to "Conversations", pms_path(current_user) %></li>
  <li><%= link_to "Workboard", cards_path(current_user) %></li>
</div>
<div class = "col s4">
  <li><%= link_to current_user.pools.first.title, gallery_path(current_user) if current_user.pools.any? %></li>
  <li><%= link_to "Pools", pools_path(current_user) %></li>
</div>
<div class = "col s4">
  <li><%= link_to "Profile", user_path(current_user) %></li>
  <li><%= link_to "Log out", log_out_path, method: "delete" %></li>
</div>