<li><%= link_to "Messages", messages_path(current_user) %></li>
<li><%= link_to "Conversations", pms_path(current_user) %></li>
<li><%= link_to "Financial" %></li>
<li><%= link_to "Orders", orders_path(current_user) %></li>
<hr />
<li><%= link_to current_user.pools.first.title, gallery_path(current_user) if current_user.pools.any? %></li>
<li><%= link_to "Pools", pools_path(current_user) %></li>
<li><%= link_to "Workboard", cards_path(current_user) %></li>
<hr />
<li><%= link_to "Profile", user_path(current_user) %></li>
<li><%= link_to "Log out", log_out_path, method: "delete" %></li>