<%= form_for User.new, url: users_path do |f| %>
  <li><%= f.text_field :name, placeholder: "Username" %></li>
  <li><%= f.email_field :email, placeholder: "Email" %></li>
  <li><%= f.password_field :password, placeholder: "Password" %></li>
  <li><%= f.password_field :password_confirmation, placeholder: "Confirm Password" %></li>
  <li><%= f.submit "Register" %></li>
<% end %>