<% @users.each do |user| %>
  <div class = "row">
    <hr />
    <div class = "row">
      <div class = "col s12 hc">
        <div class = "fl thumb-large">
          <%= link_to image_tag(image_path(:thumb, image_for(user: user))), user_path(user) %>
        </div>
        <div class = "fl ">
          <h4 class = "truncate"><%= link_to user.name, user_path(user) %></h4>
          <h4><%= statuses user, verbosity: :condensed %></h4>
    		  <% if user.galleries.first %>
            <span><%= link_to "Gallery", pool_path(user.galleries.order('id asc').first)%><%= link_to "(ies)", pools_path(user) %></span>
    		  <% end %>
        </div>
      </div>
    </div>
    <%if !user.price.blank?%>
      <%=user.price%><br />
    <% end %>
    Tags: <%= user.tags || "(None)"%>
  </div>
<% end %>
