<% @users.each do |user| %>
  <div class = "row">
    <hr />
    <div class = "row">
      <div class = "col s12 m6 mt">
        <div class = "fl col s6 m12 l5">
          <%= link_to avatar_for(user, :bordered), user_path(user) %>
        </div>
        <div class = "col s6 m12 l6">
          <h5 class = "truncate"><%= link_to user.name, user_path(user) %></h5>
          <h4><%= statuses user, verbosity: :condensed %></h4>
          
        </div>
      </div>
      <div class = "col s12 m6 l6">
        <% if can_watch? user %>
          <blockquote class = "inline">
            <% if watching? user %>
              <%= link_to "Watch #{user.name}", watch_user_path(user) %>
            <% else %>
              <%= link_to "Unwatch #{user.name}", watch_user_path(user) %>
            <% end %>
          </blockquote>
        <% end %>
        <% if user.pools.first %>
          <blockquote class = "inline"><%= link_to "Gallery", gallery_path(user) %><%= link_to "(ies)", pools_path(user) %></blockquote>
        <% end %>
        <blockquote class = "inline"><%= message_for price: user.price %></blockquote>
      </div>
        <div class = "col s12 m6 l12">
          <blockquote class = "inline"><%= message_for tags: user.tags %></blockquote>
        </div>
    </div>
  </div>
<% end %>
