
<% @users.each_with_index do |user, index| %>
	<div class="row">
    <div class="media  	col-xs-10">
  		<div class="media-left">
		  <%= !user.upload.nil? ? link_to(image_tag(image_thumb_path(user.upload.id), class: "thumbnail thumbnail-mini", ), user_path(user)) : "blank" %>
		  </div>
		  <div class="media-body">
		    <h4 class="media-heading"><%= link_to user.name, user_path(user) %> <%=comm_statuses_condensed(user)%></h4>
        <%= link_to "Gallery", pool_path(Pool.find_by(user_id: user.id)) %>
		    <%= link_to user.gallery, url_with_protocol(user.gallery) %>
		    <%if !user.price.blank?%> <br>
   			<%=user.price%>
		   <% end %>
		  </div>
	 </div>
    <% if current_user.is_admin? %>
  		<div class="col-xs-1">
        <%= link_to 'Destroy', user_path(user), method: :delete, data: { confirm: 'Are you sure?' } %>
      </div>
  	<% end %>
  </div>
	<%= content_tag :hr unless index+1 == @users.length %>
<% end %>
