<div class="row">
  <div class="col s12 m3">
    <div class="card" id="<%= model.id %>">
      <div class="card-image">
        <%= render "partials/image_container", {image: model.avatar, type: :limited}%>
      </div>
      <div class="card-content">
        <span class="card-title">
          <%= link_to model.name, user_path(model) %>
          <%= render "/users/status/tiny", {model:model} %>
        </span>
      </div>
      <div class="card-action">
        <%= render "/users/links", {model: model} %>
      </div>
    </div>
  </div>
</div>