<% unless model.at_least? :member %>
  <span class = "inline danger link"><%= readable model.level %></span>
<% else %>
  <% if can_watch? model %>
    <% unless watching? model %>
      <span class = "inline link">
        <%= link_to "Watch", watch_user_path(model), class: "remote" %>
      </span>
    <% else %>
      <span class = "inline danger link">
        <%= link_to "Unwatch", watch_user_path(model), class: "remote" %>
      </span>
    <% end %>
  <% else %>
    <% if anon? %>
      <span class = "inline link"><%= link_to "View Profile", user_path(model) %></span>
    <% else %>
      <span class = "inline link"><%= link_to "Edit Profile", user_path(model) %></span>
    <% end %>
  <% end %>
<% end %>