<% if at_least :admin %>
  <%= cell(:message).(:new_announcement) %>
<% end %>

<% open = !@user.setting(:minimize_dashboard) %>
<%= form_for @user, url: update_user_path(@user), method: :patch, html: { class: "button-submit" } do |f| %>
  <%= f.fields_for :settings do |s| %>
    <div class = "row list">
      <%= hidable "Images", open do %>
        <%= cell(:view, s).(:setting, :view_adult, "View adult images sitewide (by checking this box, you confirm you are of legal age in your region to do so)") %>
        <%= cell(:view, s).(:setting, :fit_to_width, "Fit submission images to page width") %>
      <% end %>
      <%= hidable "Messages", open do %>
        <%= cell(:view, s).(:setting, :activity_feed, "Disable others from viewing your activity feed") %>
      <% end %>
      <%= hidable "Hidable Boxes", open do %>
        <%= cell(:view, s).(:setting, :minimize_dashboard, "Minimize all settings categories by default") %>
        <%= cell(:view, s).(:setting, :minimize_search_by, "Don't open the \u201CSearch by...\u201D box automatically when typing tags") %>
      <% end %>
      <%= hidable "Recent Submissions", open do %>
      <% end %>
    </div>
  <% end %>
  <%= f.submit "Save Settings", id: "save", class: "medium" %>
<% end %>
<div class = "button-area float-right"></div>