<div class = "row">
  <%= form_for :terms, url: search_path do |f| %>
    <div class = "col s12 m10 block search">
      <i class = "material-icons small">search</i>
      <%= f.text_field :tags, placeholder: CONFIG[:search_placeholder], value: @query, id: "search-tags" %>
      <%= f.submit "Search" %>
      <%= hidable "Search by...", false, "search-tags" do %>
        <%= cell(:user, @users).(:status, :search) %>
      <% end %>
    </div>
  <% end %>
</div>
<hr />

<%= hidable "Recent Submissions", params[:terms] == CONFIG[:default_search_terms] do %>
  <div class = "row pool-index-field">
    <div class = "col content">
      <% enum_for recent_submissions do |submission| %>
        <%= link_to submission_path(submission) do %>
          <%= cell(:image).(:show, type: :bordered, id: submission.file_id) %>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>
<hr />

<% enum_for @users do |user| %>
  <%= cell(:user, user).(:summary) %>
  <%= content_tag :hr unless user == @users.last %>
<% end %>