<div class = "row">
  <div class = "input-field search col s12 m10">
    <%= form_for :terms, url: search_path do |f| %>
      <div class = "row">
        <i class = "material-icons prefix">search</i>
        <%= f.text_field :tags, placeholder: CONFIG[:search_placeholder], value: @query, id: "search-tags" %>
        <%= f.submit "Search" %>
      </div>
      <div class = "row hidable min" associated-field = "search-tags">
        <div class = "hidable-title">Search by...</div>
        <div class = "input-field">
          <%= cell(:user, @users).(:status, :search) %>
        </div>
      </div>
    <% end %>
  </div>
</div>
<hr />

<% unless @searching %>
  <div class = "row hidable max">
    <div class = "hidable-title">Recent Submissions</div>
    <div class = "row pool-index-field">
      <div class = "col">
        <% enum_for recent_submissions do |submission| %>
          <%= link_to submission_path(submission) do %>
            <%= cell(:image).(:show, type: :bordered, id: submission.file_id) %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
  <hr />
<% end %>

<% enum_for @users do |user| %>
  <div class = "row" id = <%= user.name %>>
    <div class = "row">
      <div class = "col s12 m6 mt">
        <div class = "fl col s6 m12 l5 fh">
          <%= link_to user_path(user) do %>
            <%= cell(:image).(:bordered, user.avatar) %>
          <% end %>
        </div>
        <div class = "col s6 m12 l6">
          <div class = "row">
            <h5 class = "truncate hc"><%= link_to user.name, user_path(user) %></h5>
            <%= cell(:user, user).(:status, :condensed) %>
          </div>
        </div>
      </div>
      <div class = "col s12 m6 l6">
        <%= render "links", user: user %>
      </div>
        <div class = "col s12 m6 l12">
          <blockquote class = "inline"><%= message_for artist_types: user.artist_type %></blockquote>
          <blockquote class = "inline"><%= message_for price: user.price %></blockquote>
          <blockquote class = "inline"><%= message_for tags: user.tags %></blockquote>
        </div>
    </div>
  </div>
  <%= content_tag :hr unless user == @users.last %>
<% end %>