<% provide(:header, 'Sign up') %>
  <div class="col-md-6 col-md-offset-3">
  	<div id="form">
        <%= form_for User.new do |f| %>
		  <ul class="list-unstyled">
			  <li class = "centered">
				<%= f.text_field :name, class: "wide-90", placeholder: "Username" %>
			  </li>
			  <li class = "centered">
				<%= f.email_field :email, class: "wide-90", placeholder: "Email" %>
			  </li>
			  <li class = "centered">
				<%= f.password_field :password, class: "wide-90", placeholder: "Password" %>
			  </li>
			  <li class = "centered">
				<%= f.password_field :password_confirmation, class: "wide-90", placeholder: "Password Confirmation" %>
			  </li>
			  <hr />
			  <li class = "centered">
				<%= f.submit "Create my account", class: "submit" %>
			  </li>
		  </ul>
        <% end %>
	</div>
  </div>