<h1>Results</h1>
   <div class="input-group">
	<%= form_for(:search, url: search_user_path, class: "navbar-form navbar") do |f| %>
	  <div class="form-group">
	      <%= f.text_field :search, class: 'form-control', placeholder: 'Artists who do...' %>
              <span class="input-group-btn">
	        <%= f.submit "Search", class: "btn btn-primary" %>
              </span>
	  </div>
	<% end %>
   </div>



<%= render 'results', users: @users %>
<%= will_paginate %>
<br>
