<% provide(:header, @user.name) %>

<%= form_for @user, method: :patch, url: user_path(@user) do |f| %>
	<div class = "row">
		<%= link_to "Gallery", gallery_path(@user) %><%= link_to "(ies)", pools_path(@user) %><br />
		<% if can_modify? @user %>
			<%= f.text_field :gallery, placeholder: "Offsite Gallery" %><br />
		<% elsif !@user.gallery.blank? %>
			<%= link_to @user.gallery, url_with_protocol(@user.gallery) %><br />
		<% end %>
	</div>
	<div class="row">
		<% if can_modify? @user %>
			<div class = "col s12 m3">
				<div class = "col">
					<div class = "input-field"><%= f.check_box :view_adult %><%= f.label :view_adult %></div>
					<%= f.fields_for @user.avatar.nil?? Upload.new : Upload.find(@user.avatar), multipart: true do |u| %>
						<div class = "input-field"><%= u.check_box :explicit %><%= u.label :explicit, "Explicit Avatar" %></div>
			      <div class = "row file-field input-field hc">
			        <div class = "btn">
			          <span>Avatar</span>
			          <%= u.file_field :picture %>
			        </div>
			      </div>
			    <% end %>
		    </div>
		  </div>
			<div class = "col s12 m3 preview">
				<div class = "danger nojs" id = "flash">
					Please mark adult avatars explicit before saving.
				</div>
				<%= avatar_for @user, :full %>
			</div>
		<% else %>
			<div class = "col s12 m6 l7 preview">
				<%= avatar_for @user, :full %>
			</div>
		<% end %>
		<div class = "col s12 m6 l5">
			<%= statuses @user %>
		</div>
	</div>
	<div class = "row">
		<% if can_modify? @user %>
			<%= f.text_area :price, placeholder: "Commission rates" %>
			<%= f.text_area :tags, placeholder: "Tags" %>
			<%= f.text_area :details, placeholder: "Profile Text" %>
			<%= f.submit "Update Profile" if can_modify? @user %>
		<% else %>
			<blockquote class = "inline"><%= @user.price %></blockquote>
			<blockquote class = "inline"><%= @user.tags %></blockquote>
			<blockquote class = "inline"><%= render_markdown(@user.details || "") %></blockquote>
		<% end %>
	</div>
<% end %>

<% content_for :footer do %>
	Member Since: <%= Date.parse(@user.created_at.to_s).to_formatted_s(:long_ordinal) %><br />
	<% if can_modify? @user %>
		Last Login: <%=Date.parse(@user.created_at.to_s).to_formatted_s(:long_ordinal) %><br />
	<% end %>
<% end %>