<% provide(:header, @user.name) %>

<%= form_for @user, method: :patch, url: user_path(@user) do |f| %>
	
	<div class="row <%= "limit-height" unless can_modify? @user %>">
		<% if can_modify? @user %>
			<div class = "col s12 m3">
				<div class = "col s12 new">
					<div class = "input-field"><%= f.check_box :view_adult %><%= f.label :view_adult, "View Adult Images" %></div>
					<%= f.fields_for @user.avatar.nil?? Upload.new : Upload.find(@user.avatar), multipart: true do |u| %>
						<div class = "input-field"><%= u.check_box :explicit %><%= u.label :explicit, "Explicit Avatar" %></div>
						<!--<div class = "input-field"><%#= select "user[upload]", :pool, select_options_for(:pool), {}, { class: "btn button-with-icon" } %></div>-->
			      <div class = "row file-field input-field hc">
			        <div class = "submit">
			          <span>Change Avatar</span>
			          <%= u.file_field :picture %>
			        </div>
			      </div>
			    <% end %>
		    </div>
		  </div>
			<div class = "col s12 m3 preview hc">
				<div class = "danger nojs" id = "flash">
					Please mark adult avatars explicit before saving.
				</div>
				<%= avatar_for @user, :full %>
			</div>
		<% else %>
			<div class = "col s12 m6 l7 preview">
				<%= avatar_for @user, :full %>
			</div>
		<% end %>
		<div class = "col s12 m6 l5">
			<div class = "row <%= can_modify?(@user)? "new" : "vc" %>">
				<%= statuses @user %>
				<%= render "links", user: @user unless can_modify? @user %>
			</div>
		</div>
	</div>
	<div class = "row">
		<% if can_modify? @user %>
			<%= f.text_field :gallery, placeholder: "Offsite Gallery" %>
			<hr />
			<%= f.fields_for "user[artist_types][]" do %>
				<% unless @user.artist_type.blank? %>
					<blockquote class = "inline js taglist" id = "user[artist_type]"><%= @user.artist_type %></blockquote><br />
				<% end %>
				<%= link_to "Add Artist Type(s)", "", class: "js", remote: true %>
				<div class = "input-field js">
					<%= select "user[artist_types]", "0", select_options_for(:artist_type), {}, { class: "btn button-with-icon addable" } %>
				</div>
				<hr />
			<% end %>
			<%= f.text_field :artist_type, placeholder: "Artist Type", class: "nojs" %>
			<%= f.text_area :price, placeholder: "Commission rates" %>
			<%= f.text_area :tags, placeholder: "Tags" %>
			<%= f.text_area :details, placeholder: "Profile Text" %>
			<%= f.submit "Update Profile" %>
		<% else %>
			<% if @user.gallery %><blockquote class = "inline link"><%= link_to @user.gallery %></blockquote><% end %>
			<% if @user.price %><blockquote class = "inline"><%= @user.price %></blockquote><% end %>
			<% if @user.tags %><blockquote class = "inline"><%= @user.tags %></blockquote><% end %>
			<% if @user.details %><blockquote class = "inline"><%= render_markdown @user.details %></blockquote><% end %>
		<% end %>
	</div>
<% end %>

<% content_for :footer do %>
	<div class = "row hidable max">
		<div class = "hidable-title"><%= @user.name %>'s favorites</div>
		<div class = "row pool-index-field">
			<div class = "col">
				<% enum_for @user.favs.collect { |id| Submission.find(id) } do |submission| %>
					<%= link_to submission_path(submission) do %>
						<%= image_for :bordered, submission.file_id %>
					<% end %>
				<% end %>
			</div>
		</div>
	</div>
	Member Since: <%= Date.parse(@user.created_at.to_s).to_formatted_s(:long_ordinal) %><br />
	<% if can_modify? @user %>
		Last Login: <%=Date.parse(@user.created_at.to_s).to_formatted_s(:long_ordinal) %><br />
	<% end %>
<% end %>