<% provide(:header, @user.name) %>

<%= form_for @user, method: :patch, url: user_path(@user), multipart: true do |f| %>
	<% if can_modify? user: @user %>
		<span><%= f.check_box :view_adult %> <%= f.label "View Adult" %></span><br />
		<span><%= f.label "Avatar" %> <%= f.file_field :picture, class: "uploader" %></span>
	<% end %>
	<div class="wide-100">
		<div class="wide-px-160 fl" style="min-height: 160px; margin: 23px 10px 0px 23px;">
		</div>
		<div class="fl">
			<span><%= link_to "Gallery", gallery_path(@user) %><%= link_to "(ies)", pools_path(@user) %></span><br />
			<% if can_modify? user: @user %>
				<%= f.text_field :gallery, placeholder: "Offsite Gallery" %><br />
			<% elsif !@user.gallery.blank? %>
				<%= link_to @user.gallery, url_with_protocol(@user.gallery) %><br />
			<% end %>
			<% if can_modify? user: @user %>
				<span><%= f.label "I charge:" %> <%= f.text_field :price, placeholder: @user.price.blank?? "Set" : "Update" %></span><br />
			<% elsif !@user.price.blank? %>
				I charge:&nbsp;<%= @user.price %><br />
			<% end %>
			Member Since: <%= Date.parse(@user.created_at.to_s).to_formatted_s(:long_ordinal) %><br />
	    <% if at_least :mod %>
				Last Login: <%=Date.parse(@user.created_at.to_s).to_formatted_s(:long_ordinal) %>
	    <% end %>
		</div>
	</div>
	<% if can_modify? user: @user %>
		<%= f.text_area :tags, placeholder: "Tags", class: "wide-100" %>
		<%= f.text_area :details, placeholder: "Profile Text", class: "wide-100" %>
	<% else %>
		<%= @user.tags %>
		<%= render_markdown(@user.details || "") %>
	<% end %>
<% end %>