<%= form_for @user, method: :patch, url: user_path(@user), html: { class: "remote button-submit" } do |f| %>
  <div class = "row limit-height">
    <% if can_modify? @user %>
      <div class = "col s6 hc">
        <%= cell(:attachment, @user.avatar).(:new_image) %>
      </div>
    <% else %>
      <div class = "col s6 expandable preview">
        <%= cell(:image).(:show, type: :full, id: @user.avatar) %>
      </div>
    <% end %>
    <div class = "col s6 vc">
      <%= cell(:user, @user).(:status, :verbose) %>
      <%= render "links", user: @user unless can_modify? @user %>
    </div>
  </div>
  <div class = "row">
    <% if can_modify? @user %>
      <hr class = "js" />
      <%= f.fields_for "user[artist_type][]" do %>
        <%= text_field "user[artist_type]", "0", placeholder: "Artist Type(s)", class: "nojs", value: @user.artist_type %>
        <% unless @user.artist_type.blank? %>
          <blockquote class = "inline js taglist" id = "user[artist_type][0]"><%= @user.artist_type %></blockquote><br />
        <% end %>
        <div class = "js addable-field">
          <%= select "user[artist_types]", "1", select_options_for(:artist_type), {}, { class: "btn button-with-icon", id: "user[artist_type][1]", button: "add-artist-type" } %>
        </div>
        <div class ="addable-area"></div>
      <% end %>
      <hr class = "js" />
      <%= f.text_area :offsite_gallery, placeholder: "Offsite Galleries" %>
      <%= f.text_area :price, placeholder: "Commission rates" %>
      <%= f.text_area :tags, placeholder: "Tags" %>
      <%= f.text_area :details, placeholder: "Profile Text" %>
      <%= f.submit "Update Profile", class: "float", id: "save" %>
    <% else %>
      <% unless @user.artist_type.blank? %><blockquote class = "inline"><%= @user.artist_type %></blockquote><% end %>
      <% unless @user.gallery.blank? %><blockquote class = "inline link"><%= link_to @user.gallery %></blockquote><% end %>
      <% unless @user.price.blank? %><blockquote class = "inline"><%= @user.price %></blockquote><% end %>
      <% unless @user.tags.blank? %><blockquote class = "inline"><%= @user.tags %></blockquote><% end %>
      <% unless @user.details.blank? %><blockquote class = "inline"><%= render_markdown @user.details %></blockquote><% end %>
    <% end %>
  </div>
<% end %>
<div class = "button-area float"></div>

<% content_for :footer do %>
  <div class = "row">
    Member Since: <%= Date.parse(@user.created_at.to_s).to_formatted_s(:long_ordinal) %><br />
    <% if can_modify? @user %>
      Last Login: <%=Date.parse(@user.created_at.to_s).to_formatted_s(:long_ordinal) %><br />
    <% end %>
  </div>
<% end %>