<table class = "comment indent-<%= @indent %> <%= "special" if current_user == @model.comment_author and current_user.setting(:border_comments) %>" id = <%= @model.id %>>
  <tbody>
    <tr>
      <td><%= cell(:image, @model.comment_author.avatar).(:bordered) %></td>
      <td>
        <h5>
          <%= link_to user_path(@model.comment_author) do %>
            <%= @model.comment_author.name %>
          <% end %>
        </h5>
        <blockquote><%= render_markdown @model.content %></blockquote>
      </td>
      <td class = "button-area"></td>
    </tr>
  </tbody>
</table>
<% @model.comments.each do |comment| %>
  <%= cell(:comment, comment).(:show, @indent + 1) %>
<% end %>