<% unless search_all %>
  <%= form_for :terms, url: users_path do |f| %>
    <%= f.fields_for :use_statuses do |use| %>
      <%= use.hidden_field :commissions, value: "0" %>
      <%= use.hidden_field :trades, value: "0" %>
      <%= use.hidden_field :requests, value: "0" %>
      <%= use.hidden_field :collaborations, value: "0" %>
    <% end %>
    <%= f.fields_for :statuses do |stat| %>
      <%= stat.hidden_field :commissions, value: "all open statuses" %>
      <%= stat.hidden_field :trades, value: "all open statuses" %>
      <%= stat.hidden_field :requests, value: "all open statuses" %>
      <%= stat.hidden_field :collaborations, value: "all open statuses" %>
    <% end %>
    <%= f.submit "List all users", class: "link" %>
  <% end %>
<% end %>

<div class = "row">
  <%= form_for :terms, url: users_path do |f| %>
    <div class = "col s12 m10 block search">
      <i class = "material-icons small">search</i>
      <%= f.text_field :tags, placeholder: "Artists who do...", value: @query, id: "search-tags" %>
      <%= f.submit "Search" %>
      <%= hidable "Search by...", false, associated: (current_user.setting(:always_minimize_search_by))? "" : "search-tags" do %>
        <%= cell(:user, @users).(:status, :search) %>
      <% end %>
      <%= hidable "Search Help", false do %>
        Search users by their tags (comma- or space-separated list)<br />
        Tag search is by union (only users having all of the tags you enter will be in the results)<br />
        Username search with <code>username: (name here)</code><br />
        Username search overrides tag search.<br />
        Username search is by intersection (all names you enter will show up if those users exist).<br />
        Username search is fuzzy and case insensitive (searching for <code>twi</code> will make TwilightStormshi show up along with other names similar to <%= "\u201C" %>twi<%= "\u201D" %>).<br />
        To search for multiple users at the same time, you must specify <code>username:</code> every time like <code>username: Aurali, username: TwilightStormshi</code><br />
        In the <%= "\u201C" %>Search by...<%= "\u201D" %> box, select the commission statuses you want to filter your results by. An empty checkbox means don't filter by that status at all. Filtering affects both tag and username searches.
      <% end %>
    </div>
  <% end %>
</div>
<hr />

<% unless current_user.setting(:disable_recent_submissions) %>
  <%= hidable "Recent Submissions", (params[:terms] == CONFIG[:default_search_terms] or not current_user.setting(:minimize_recent_submissions)) do %>
    <div class = "row pool-index-field">
      <div class = "col">
          <% enum_for recent_submissions do |submission| %>
            <%= link_to submission_path(nil, submission) do %>
              <%= cell(:image, submission.image).(:bordered) %>
            <% end %>
          <% end %>
      </div>
    </div>
  <% end %>
  <hr />
<% end %>

<%= page_nav :top %>

<div id = "users">
  <%= cell(:user).(:enum) %>
</div>

<%= page_nav :bottom %>