<div class = "col s6">
  <%= cell(:user, @model).(:watch) %>
  <% unless @model.pools.empty? %>
    <blockquote class = "inline link">
    <%= link_to "Gallery", gallery_path(@model) %>
     / 
    <%= link_to "Pools", pools_path(@model) %>
    </blockquote>
  <% else %>
    <blockquote class = "inline danger link">No Pools</blockquote>
  <% end %>
  <blockquote class = "inline link"><%= link_to "Workboard", cards_path(@model.name) %></blockquote>
</div>
<div class = "col s6">
  <% if current_user? @model %>
    <blockquote class = "inline link"><%= link_to "Conversations", pms_path(current_user.name) %></blockquote>
  <% else %>
    <blockquote class = "inline link"><%= link_to "PM", pm_author_path(current_user.name, @model.name) %></blockquote>
  <% end %>
  <% unless @model.order_forms.empty? %>
    <blockquote class = "inline link"><%= link_to "Order", new_order_path(@model.order_form) %></blockquote>
  <% else %>
    <blockquote class = "inline link danger">Order</blockquote>
  <% end %>
  <blockquote class = "inline link"><%= link_to "Activity", messages_path(@model) %></blockquote>
</div>