<nav>
  <div class = "nav-wrapper">
    <%= link_to root_path, class: "brand-logo" do %>
      <%= cell(:image).(:show, :logo_thumb) %>
    <% end %>
    <%= cell(:user).(:nav) %>
  </div>
  <div class = "separator"></div>
</nav>
<ul class = "js dropdown-content <%= "wide" unless anon? %>" id = "menu">
  <%= cell(:user).(:menu) %>
</ul>
<ul class = "side-nav <%= "wide" unless anon? %>" id = "mobile-menu">
  <%= cell(:user).(:menu) %>
</ul>