<%= form_for model, url: bids_path_url, html: { class: "new spaced indent-0"} do |f| %>
	<%= f.hidden_field :slot_id %>
	<div class="row">
		<div class="field col s12 m9">
		  <%= f.label :body, "Message" %>
	      <%= f.text_area :body %>
	    </div>
	    <div class="field col s12 m3">
	    	<%= f.label :amount, "Your Bid" %>
	    	<%= f.number_field :amount, min: model.slot.next_bid, step: 0.01, required: true %>
	    </div>
	    <div class="actions col s12">
	      <%= f.submit %>
	    </div>
	</div>
<% end %>
