<div class = "comment indent-0 <%= "special" if current_user == model.user and current_user.setting(:border_comments) %>" id = <%= model.id %>>
    <div class="row">
      <div class="col s12 l6"><%= render "partials/image_container", {image: model.user.avatar, type: :bordered}%></div>
      <div class="col s12 l6">
        <h5>
          <%= link_to user_path(model.user) do %>
            <div class = "author"><%= model.user.name %></div>
          <% end %>
        </h5>
        <h6 class="bid special">Bid <%= number_to_currency model.amount %></h6>
        <div>
          <%= render_markdown model.body %>
        </div>
      </div>
    </div>
</div>