<div class="slot col m6">
	<h3><%= slot.title %></h3>
	<div class="row">
		<div class="current_bid col s12">Current Bid: <span class="bid_<%= slot.id %>">No Bid</div>
		<%if slot.auto_buy%>
		  <div class="col m6">Auto-Buy: <%= slot.auto_buy%></div>
		<% end %>
		  <div class="col m6">Starting Bid: <%= slot.min_bid%></div>
	</div>
	<div class="row">
	  <%= render_markdown slot.body %>
	</div>
	<div class="bids">
	
	</div>
</div>
