<div class = "card" id = <%= @model.id %> >
  <div class = "card-content">
    <div class = "card-title">
      <div class = "hc view-mode reorder-mode">
        <h5 id = "title"><%= controller.title_for workcard: @model %></h5>
        <hr />
      </div>
      <% if controller.can_modify? @user %>
        <div class = "edit-mode">
          <div class = "buttons">
            <%= form_for @model, url: card_path(@user, @model), method: :patch do |f| %>
              <%= f.text_field :title, placeholder: "Card Title" %>
              <%= f.text_area :description, placeholder: "Description" %>
              <%= f.submit "Save Card", id: "save" %>
            <% end %>
            <%= form_for @model, url: card_path(@user, @model), method: :delete do |f| %>
              <%= f.submit "Delete Card", id: "delete" %>
            <% end %>
          </div>
          <%= cell(:attachment).(:show, kind: :image, user: @user) %>
        </div>
      <% end %>
      <div class = "card-action">
        <div class = "view-mode">
          <%= cell(:image).(:show, type: :bordered, id: @model.file_id) if @model.file_id %>
          <span><%= controller.message_for description: @model.description %></span>
        </div>
      </div>
    </div>
  </div>
</div>