<% if can_modify? @user %>
  <%= form_for @pool, url: update_pool_path(@pool), method: :patch, html: { class: "remote button-submit" } do |f| %>
    <%= f.text_field :title, placeholder: @pool.title || "Title for Pool", class: "title" %>
    <%= f.submit "Update Pool Title", id: "save" %>
  <% end %>
  <div class = "button-area float-right"></div>
<% end %>
<% if @user %>
  <%= form_for :back, url: pools_path(@user), html: { class: "button-submit" } do |f| %>
    <%= f.submit "#{can_modify?(@user)? "Your" : "This user's"} pools", id: "back" %>
  <% end %>
<% end %>
<div class = "button-area float-left"></div>
<%= page_nav :top %>
<table class = "gallery" id = "submissions">
  <tr>
    <% if can_modify? @user %>
      <td class = "new"><%= cell(:submission).(:new) %></td>
    <% end %>
    <% enum_for @submissions, word: "submissions", reverse: true do |submission| %>
      <% if can_modify? @user %>
        <%= cell(:submission, submission).(:edit_summary) %>
      <% else %>
        <%= cell(:submission, submission).(:show_summary) %>
      <% end %>
    <% end %>
    <% 11.times do %>
      <td class = "spacer"></td>
    <% end %>
  <tr>
</table>
<hr />
<%= page_nav :bottom %>