<%= cell(:view).(:page_nav) %>
<table class = "gallery" id = "submissions">
  <tr>
    <% if @pool and can_modify? @pool.user %>
      <td class = "new"><%= cell(:submission).(:new) %></td>
    <% end %>
    <% enum_for @submissions, word: "submissions", reverse: true do |submission| %>
      <td <%= "class = 'hidden'" if submission.hidden %>>
        <% if (@pool and can_modify? @pool.user) or can_modify? submission.pool.user %>
          <%= cell(:submission, submission).(:edit_summary) %>
        <% else %>
          <%= cell(:submission, submission).(:show_summary) %>
        <% end %>
      </td>
    <% end %>
    <% 11.times do %>
      <td class = "spacer"></td>
    <% end %>
  <tr>
</table>
<hr />
<%= cell(:view).(:page_nav) %>