  <%= form_for @model do |f| %>
    <div class = "col s12 m6">
      <div class = "input-field">
        <%= f.text_field :title, placeholder: "Title for #{"New #{@pool.title} " unless @model.id}Submission", value: title_for(submission: @model) %>
      </div>
      <%= f.fields_for upload, multipart: true do |u| %>
        <div class = "input-field">
          <%= u.check_box :explicit %><%= u.label :explicit, "Adult Image" %>
        </div>
        <div class = "file-field input-field">
          <div class = "submit">
            <span><%= @model.id.nil?? "Image File" : "Change Image" %></span>
            <%= u.file_field :picture %>
          </div>
        </div>
      <% end %>
      <%= f.text_area :description, placeholder: "Description" %>
      <%= hidden_field_tag "submission[pool_id]", @pool.id if @pool %>
      <div class = "input-field">
        <%= f.submit submission.id.nil?? "Create Submission" : "Update #{title_for(submission: @model)}" %>  
      </div>
    </div>
    <div class = "col s12 m6">
      <%= cell(:attachment).(:new) %>
    </div>
  <% end %>