<% if can_fav? @submission %>
  <div class = "vdiv"></div>
  <% unless faved? @submission %>
    <%= link_to fav_submission_path(@submission), class: "js", remote: true, title: "Click to Favorite Submission" do %>
      <i class = "material-icons medium-small"><%= CONFIG[:submission_icons][:unfaved] %></i>
    <% end %>
    <%= link_to fav_submission_path(@submission), class: "nojs", title: "Click to Favorite Submission" do %>
      <i class = "material-icons medium-small"><%= CONFIG[:submission_icons][:unfaved] %></i>
    <% end %>
  <% else %>
    <%= link_to fav_submission_path(@submission), class: "js danger", remote: true, title: "Click to Unfavorite Submission" do %>
      <i class = "material-icons medium-small"><%= CONFIG[:submission_icons][:faved] %></i>
    <% end %>
    <%= link_to fav_submission_path(@submission), class: "nojs danger", title: "Click to Unfavorite Submission" do %>
      <i class = "material-icons medium-small"><%= CONFIG[:submission_icons][:faved] %></i>
    <% end %>
  <% end %>
<% end %>