<% provide :header, @submission.title %>

<div class = "row hc">
  <span>
    <%= link_to "Pool", pool_path(@submission.pool.id) %>
    <div class = "vdiv"></div>
    <%= link_to "Download", download_path(@submission.file_id) %>
    <% if can_fav? @submission %>
      <div class = "vdiv"></div>
      <% unless faved? @submission %>
        <%= link_to "Favorite", fav_submission_path(@submission) %>
      <% else %>
        <%= link_to "Unfavorite", fav_submission_path(@submission), class: "danger" %>
      <% end %>
    <% end %>
  </span>
</div>
<div class = "row hc limit-height">
  <%= image_for :full, @submission.file_id %>
</div>
<div class = "row">

</div>
<div class = "row">
  <%= render "messages/index_comments", comments: @submission.comments %>
  <hr />
  <%= render "messages/new_comment" %>
</div>