<% provide :header, @submission.title %>

<% unless !@submission.adult || current_user.view_adult %>
  <div class="wide-100 centered">
    <h2>You are not allowed to view this (adult) submission.</h2>
  </div>
<% else %>
  <%= image_tag image_path(@submission.upload.id) %>

  <div class = "wide-100 centered">
    <%= link_to 'Pool', pool_path(@submission.pool.id) %>
  </div>

  <% @comments.each do |comment| %>
    <%= content_tag :div, class: "wide-100 comment", id: comment.id do %>
      <div class = "wide-px-100 fl">
        <%= image_tag(image_thumb_path(comment.user.upload.id)) %>
      </div>
        <h4><%= comment.user.name %></h4>
        <%= comment.content %>
    <% end %>
  <% end %>

  <%= form_for Comment.new do |f| %>
    <%= f.text_area :content %><br />
    <%= hidden_field_tag "comment[user_id]", current_user.id %>
    <%= hidden_field_tag "comment[submission_id]", @submission.id %>
    <%= f.submit "Post Comment", class: "btn btn-primary spaced" %>
  <% end %>
<% end %>