<% provide :header, title_for(submission: @submission) %>

<% if can_modify? @submission.pool.user %>
  <div class = "row hidable max">
    <div class = "hidable-title">Edit <%= title_for submission: @submission %></div>
    <%= render "fields", submission: @submission, upload: @picture %>
  </div>
<% end %>

<div class = "row hc">
  <span>
    <%= link_to "Pool", pool_path(@submission.pool.id) %>
    <div class = "vdiv"></div>
    <%= link_to "Download", download_path(@picture.id) %>
    <%= render "favorite_link" %>
  </span>
</div>
<div class = "row hc limit-height expandable">
  <%= image_for :full, @picture.id %>
</div>
<div class = "row hidable max">
  <div class = "hidable-title">Description</div>
  <div class = "col s12">
    <%= @submission.description %>
  </div>
</div>
<div class = "row">
  <% @comments.each do |comment| %>
    <%= render "messages/show", message: comment %>
  <% end %>
  <hr />
  <%= render "messages/new" %>
</div>