<% provide :header, @submission.title %>

<div class = "row hc">
  <%= image_for :full, @submission.file_id %>
</div>

<div class = "row hc">
  <%= link_to "Pool", pool_path(@submission.pool.id) %>
</div>

<% enum_for comments: @comments do |comment| %>
  <%= content_tag :div, class: "row comment", id: comment.id do %>
    <div class = "col">
      <%= avatar_for comment.user %>
    </div>
    <div class = "col">
      <h4><%= comment.user.name %></h4>
      <blockquote class = "inline"><%= comment.content %></blockquote>
    </div>
  <% end %>
<% end %>

<% unless anon? %>
  <%= form_for Comment.new, url: comments_path(current_user) do |f| %>
    <%= f.text_area :content %>
    <%= hidden_field_tag "comment[user_id]", current_user.id %>
    <%= hidden_field_tag "comment[submission_id]", @submission.id %>
    <%= f.submit "Post Comment" %>
  <% end %>
<% end %>