<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @submission.title %>
</p>

<p>
  <strong>Adult:</strong>
  <%= @submission.adult %>
</p>

<p>
  <strong>File:</strong>
  <%= @submission.file_id %>
</p>

<p>
  <strong>Pool:</strong>
  <%= @submission.pool_id %>
</p>

<%= link_to 'Edit', edit_submission_path(@submission) %> |
<%= link_to 'Back', submissions_path %>
