<div class = "card card-card" id = <%= @model.id %> >
  <div class = "card-content">
    <div class = "card-title">
      <div class = "hc view-mode reorder-mode">
        <h5 id = "title"><%= title_for @model %></h5>
        <hr />
      </div>

      <% if controller.can_modify? @user %>

        <div class = "edit-mode">
          <%= form_for @model, url: update_card_path(@user, @model), method: :patch, html: { multipart: true, class: "button-submit" } do |f| %>
            <%= f.text_field :title, placeholder: "Title for this Item" %>
            <%= f.text_area :description, placeholder: "Description for this Item" %>
            <%= cell(:attachment, @model.image).(:new_image, type: :bordered) %>
            <%= f.submit "Save Item", id: "save" %>
          <% end %>
          <%= form_for @model, url: destroy_card_path(@user, @model), method: :delete, html: { class: "button-submit" } do |f| %>
            <%= f.submit "Delete Item", id: "delete" %>
          <% end %>
          <%= form_for @model, url: update_card_path(@user, @model), method: :patch, html: { class: "button-submit", attachment: "new-image" } do |f| %>
            <%= f.submit "Attach Image", id: "attach" %>
          <% end %>
          <div class = "button-area centered"></div>

        </div>

      <% end %>
      <div class = "card-action">
      </div>
    </div>
  </div>
</div>