<%= form_for @order_form, url: order_form_path(current_user, @order_form), method: :patch, html: { id: "formcreator_result", class: "button-submit" } do |f| %>
  <%= f.text_field :title, placeholder: "Title for form (only you will see this)" %>
  <%= f.submit "Save Form", id: "save" %>
<% end %>
<div class = "button-area float"></div>

<br />

<div class = "order-form" form = "formcreator_result">

  <% CONFIG[:order_form_icons].each do |key, value| %>
    <div id = "<%= key %>-template" class = "hide">
      <%= cell(:order_form).(key) %>
    </div>
  <% end %>

  <fieldset>
    <legend>Add Question to Form:</legend>
    <div id = "button-area"></div>
  </fieldset>

  <ol id = "workspace">
    <%= cell(:order_form).(:workspace) %>
  </ol>

</div>