<tr id = "<%= @model.id %>">
  <% if can_modify? @user %>
    <td>
      <%= form_for @model, url: edit_order_form_path(@user, @model), method: :patch, html: { class: "button-submit" } do |f| %>
        <%= f.submit "Edit", id: "edit" %>
      <% end %>
      <%= form_for @model, url: order_form_path(@user, @model), method: :delete, html: { class: "remote button-submit" } do |f| %>
        <%= f.submit "Delete", id: "delete", confirm: "Delete #{title_for @model}?" %>
      <% end %>
      <% unless @model == @user.order_form %>
        <%= form_for @model, url: default_order_form_path(@user, @model), html: { class: "remote button-submit" } do |f| %>
          <%= f.submit "Set Default", id: "default" %>
        <% end %>
      <% end %>
      <div class = "button-area"></div>
    </td>
    <td><%= title_for @model %></td>
  <% end %>
  <td class = "danger"><%= "Default" if @model == @user.order_form %></td>
</tr>