<%= form_for(@order_form) do |f| %>
  <% if @order_form.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@order_form.errors.count, "error") %> prohibited this order_form from being saved:</h2>

      <ul>
      <% @order_form.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :content %><br>
    <%= f.text_field :content %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.number_field :user_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
