<%#Content is an array, treat it like such. %>
  <% provide :header, title_for(order_form: @order_form) %>
  <div id="form">
	<% @order_form.content.each do |array| %>
      <div class= "form-group">
		<%case array["type"]%>
			<%when "text" %>
		      <%= text_field_tag(:q, nil, placeholder: array["contents"], class: "form-control") %>
			  
			<%when "button" %>
              <%= button_tag(type: 'button', class: "btn btn-primary") do %>
                <%= array["contents"] %>
              <% end %>
			  
			<%when "radio" %>
			 <% array["contents"].each do |radios| %>
			   <div class="radio"><label>
				 <%= radio_button_tag :q, radios[1], radios[0]  %>
				 <%= radios[1] %></label>
			   </div>
			 <%end%>
			 
         	<%when "checkbox" %>
			 <% array["contents"].each do |radios| %>
			   <div class="checkbox"><label>
				 <%= check_box_tag :q, radios[1], radios[0]  %>
				 <%= radios[1] %></label>
			   </div>
			 <%end%>		
			 
			<%when "image" %>
				<p>"Fill system here"</p>
		<%end %>
	  </div>
	<%end%>
  </div>
