<%#Content is an array, treat it like such. %>
  <strong>Contentf:</strong>
  <div id="form">
	<% @order_form.content.each do |array| %>
      <div class= "form-group">
		<%= label_tag(:q, array["title"]) %>
		<%case array["type"]%>
			<%when "text" %>
		      <%= text_field_tag(:q, nil, placeholder: array["contents"], class: "form-control") %>
			  
			<%when "button" %>
              <%= button_tag(type: 'button', class: "btn btn-primary") do %>
                <%= array["contents"] %>
              <% end %>
			  
			<%when "radio" %>
			 <% array["contents"].each do |radios| %>
			   <div class="radio"><label>
				 <%= radio_button_tag :q, radios[1], radios[0]  %>
				 <%= radios[1] %></label>
			   </div>
			 <%end%>
			 
         	<%when "checkbox" %>
			 <% array["contents"].each do |radios| %>
			   <div class="checkbox"><label>
				 <%= check_box_tag :q, radios[1], radios[0]  %>
				 <%= radios[1] %></label>
			   </div>
			 <%end%>		
			 
			<%when "image" %>
				<p>"Fill system here"</p>
		<%end %>
	  </div>
	<%end%>
  </div>
<p>
  <strong>User:</strong>
  <%= @order_form.user.name %>
</p>

<%= link_to 'Edit', edit_order_form_path(@order_form) %> |
<%= link_to 'Back', order_forms_path %>
