<div id = "dashboard">
  <% if at_least? :admin %>
    <%= hidable "Administrator Tools", true do %>
      <%= cell(:announcement).(:new) %>
    <% end %>
  <% end %>

  <% open = !@user.setting(:minimize_dashboard) %>
  <%= form_for @user, url: update_user_path(@user), method: :patch, html: { class: "remote button-submit" } do |f| %>
    <%= f.fields_for :settings do |s| %>
      <div class = "row list">
        <%= hidable "Images and Submissions", open do %>
          <%= cell(:view, s).(:setting, :view_adult, "View adult images sitewide") %>
          <p class = "ic">By checking the option above, you assert that you are of age to view adult content in your region.</p>
          <%= cell(:view, s).(:setting, :fit_to_width, "Display the full versions of submission images by default") %>
          <p class = "ic padded">Checking the option above automatically loads the full submission image instead of the 700-pixel-tall preview when viewing a submission.</p>
          <p class = "ic">Benefits of loading the full image:</p>
            <ul class = "disc">
              <li>Gives you a larger version of the image upfront when you load any submission.</li>
              <li>Right click > Save image as... will download the full version of the image instead of the preview.</li>
            </ul>
          <p class = "ic">Benefits of loading the preview image:</p>
            <ul class = "padded disc">
              <li>Quicker page loading, which is useful if you only want to browse or check comments.</li>
              <li>You can still view the full image by clicking on the preview to expand it, and you can still download the full version by clicking the download button above the image.</li>
              <li>Doesn't push the description or comments down the page.</li>
              <li>The size of the preview image is almost always good enough to judge whether or not you like the image.</li>
            </ul>
          <%= cell(:view, s).(:setting, :always_fit_to_width, "Stretch smaller submission images to page width") %>
          <p class = "ic padded">Checking the option above stretches all images to page width. In combination with loading the full image, it will usually give you a larger view of the image without too much blurriness.</p>
          <p class = "ic padded">Alone, it will stretch the preview image to page width. This makes almost all images blurry, but you get a large view of the image combined with fast page loading. This can be useful when browsing on mobile and/or viewing pixel art. You can still expand to the full/hi-res image by clicking on it / touching it.</p>
          <%= cell(:view, s).(:setting, :minimize_descriptions, "Minimize descriptions by default when you view other members' submissions") %>
          <%= cell(:view, s).(:setting, :border_comments, "Highlight your comments with a different color from other comments") %>
        <% end %>
        <%= hidable "Commission Orders", open do %>
          <%= cell(:view, s).(:setting, :anonymous_orders, "Accept commission orders from anonymous users") %>
          <%= cell(:view, s).(:setting, :non_open_orders, "Accept commission orders even when you are not open for commissions") %>
        <% end %>
        <%= hidable "Messages", open do %>
          <%= cell(:view, s).(:setting, :public_activity_feed, "Disable others from viewing your activity feed") %>
          <%= cell(:view, s).(:setting, :activity_feed, "Disable activity feed entirely") %>
          <%= cell(:view, s).(:setting, :disable_toasting, "Disable popup/toasted activity messages") %>
        <% end %>
        <%= hidable "Indexing and Pagination", open do %>
          <%= cell(:view, s).(:setting, :pagination_at_top, "Show the page-index bar only above the index") %>
          <%= cell(:view, s).(:setting, :pagination_at_both, "Show page-index bar both above and below the index") %>
        <% end %>
        <%= hidable "Recent Submissions", open do %>
          <%= cell(:view, s).(:setting, :recent_submissions, "Don't show recent submissions on the main page") %>
          <%= cell(:view, s).(:setting, :minimize_recent_submissions, "Minimize the recent submission list on the main page") %>
          <%= cell(:view, s).(:setting, :private_personal_recent_submissions, "Show recent submissions by members you watch on your activity page, to you") %>
          <%= cell(:view, s).(:setting, :protected_personal_recent_submissions, "Show recent submissions by members you watch on your activity page, to all members who aren't you") %>
          <%= cell(:view, s).(:setting, :private_personal_favorite_submissions, "Show a list of your favorited submissions on your activity page, to you") %>
          <%= cell(:view, s).(:setting, :protected_personal_favorite_submissions, "Show a list of your favorited submissions on your activity page, to all members who aren't you") %>
          <%= cell(:view, s).(:setting, :hide_recent_submissions, "Hide recent submissions when you view another member's activity page") %>
          <%= cell(:view, s).(:setting, :hide_favorite_submissions, "Hide favorited submissions when you view another member's activity page") %>
        <% end %>
        <%= hidable "Miscellaneous", open do %>
          <%= cell(:view, s).(:setting, :minimize_dashboard, "Minimize all settings categories on this page by default") %>
          <%= cell(:view, s).(:setting, :minimize_search_by, "On the main page, don't open the \u201CSearch by...\u201D box automatically when typing tags") %>
        <% end %>
      </div>
    <% end %>
    <%= f.submit "Save Settings", id: "save" %>
  <% end %>
  <div class = "button-area float-right"></div>
</div>