<% provide :header, link_to(@user.name, user_path(@user))+"'s workboard" %>

<% if can_modify? @user %>
  <div class = "row hc js">
    <span>
      <%= link_to "View Mode", "", remote: true, class: "trigger" %>
      <div class = "vdiv"></div>
      <%= link_to "Edit Mode", "", remote: true, class: "trigger" %>
      <div class = "vdiv"></div>
      <%= link_to "Reorder Mode", "", remote: true, class: "trigger" %>
    </span>
  </div>
<% end %>
<div class = "row">
  <div class = "card top-card" id = <%= @top_card.id %> >
    <div class = "card-content">
      <div class = "card-title">
        <% if can_modify? @user %>
          <%= form_for @top_card, url: card_path(@user, @top_card), method: :patch do |f| %>
            <%= f.hidden_field :order, value: cards_order %>
            <div class = "js reorder-mode">
              <%= f.submit "Finalize Order" %>
            </div>
          <% end %>
          <div class = "new edit-mode">
            <%= form_for @top_card, url: card_path(@user, @top_card), method: :patch do |f| %>
              <%= f.text_field :title, placeholder: "Title for New List" %>
              <div class = "button-area">
                <%= f.submit "Create List", id: "save" %>
              </div>
            <% end %>
          </div>
        <% else %>
          <div></div> <!--makes wrapping work on others' workboards-->
        <% end %>
          <% @lists.each do |list| %>
            <%= cell(:card, list).(:list, user: @user) %>
          <% end %>
        </p>
      </div>
    </div>
  </div>
</div>