<ul class = "right">
  <li class = "circular-button teal lighten-2" title = "New Orders">
    <%= link_to cards_path(current_user) do %>
      <div id = "new-orders-count"><%= current_user.orders.length %></div>
    <% end %>
  </li>
  <li class = "circular-button green darken-3" title = "Unread Private Messages">
    <%= link_to pms_path(current_user) do %>
      <div id = "unread-pms-count"><%= current_user.unread_pms.length %></div>
    <% end %>
  </li>
  <li class = "circular-button green" title = "Unread Activity Messages">
    <%= link_to messages_path(current_user) do %>
      <div id = "unread-messages-count"><%= current_user.unread_messages.length %></div>
    <% end %>
  </li>
  <li class = "hide-on-med-and-down">
    <a class = "dropdown-button" data-activates = "menu">
      <div>
        <span class = "inline" id = "current-user"><%= current_user.name %></span>
        <i class = "material-icons right">arrow_drop_down</i>
      </div>
    </a>
  </li>
</ul>
<a data-activates="mobile-menu" class="button-collapse">
  <i class="material-icons">menu</i>
</a>