<meta name = "viewport" content = "width = device-width, initial-scale = 1.0">
<title>
  <% if cell_defined? %>
    <%= "#{CONFIG[:name]}" - cell(controller_name.singularize).(:header, action_name.to_sym) %>
  <% else %>
    <%= CONFIG[:name] %>
  <% end %>
</title> 
<meta name = "description" content = "<%= content_for?(:description)? yield(:description) : CONFIG[:name] %>">
<%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
<%= csrf_meta_tags %>