<% if anon? %>

  <nav>
    <div class = "nav-wrapper">
      <%= link_to root_path, class: "brand-logo" do %>
        <%= cell(:image).(:show, type: :logo_thumb) %>
      <% end %>
      <ul class = "right hide-on-med-and-down js">
        <li><a class = "dropdown-button" data-activates = "reg-menu"><div class = "vc">Log In / Register<i class = "material-icons right">arrow_drop_down</i></div></a></li>
      </ul>
      <div class = "right hide-on-med-and-down nojs">
        <%= render "users/log_in" %>
      </div>
      <a data-activates="mobile-reg-menu" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
    <div class = "separator"></div>
  </nav>
  <ul class = "js dropdown-content" id = "reg-menu">
    <%= render "anon_menu" %>
  </ul>
  <ul class = "side-nav" id = "mobile-reg-menu">
    <%= render "anon_menu" %>
  </ul>

<% else %>

  <nav>
    <div class = "nav-wrapper">
      <%= link_to root_path, class: "brand-logo" do %>
        <%= cell(:image).(:show, type: :logo_thumb) %>
      <% end %>
      <ul class = "right hide-on-med-and-down js">
        <li class = "circular-button">
          <%= link_to messages_path(current_user) do %>
            <div><%= current_user.unread_messages %></div>
          <% end %>
        </li>
        <li>
          <a class = "dropdown-button" data-activates = "nav-menu">
            <div class = "vc">
              <%= current_user.name %>
              <i class = "material-icons right">arrow_drop_down</i>
            </div>
          </a>
        </li>
      </ul>
      <div class = "right hide-on-med-and-down nojs">
        <%= render "users/member_menu" %>
      </div>
      <a data-activates="mobile-nav-menu" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
    <div class = "separator"></div>
  </nav>
  <ul class = "js dropdown-content" id = "nav-menu">
    <%= render "users/member_menu" %>
  </ul>
  <ul class = "side-nav" id = "mobile-nav-menu">
    <%= render "users/member_menu" %>
  </ul>
<% end %>