<% if anon? %>

  <nav class = "js">
    <div class = "nav-wrapper">
      <%= link_to image_tag(asset_path(:logo)), root_path, class: "brand-logo" %>
      <%= link_to image_tag(asset_path(:logo)), root_path, class: "brand-logo small" %>
      <ul class = "right hide-on-med-and-down">
        <li><a class = "dropdown-button" data-activates = "menu">Log In / Register<i class = "material-icons right">arrow_drop_down</i></a></li>
      </ul>
    </div>
    <div class = "separator"></div>
  </nav>
  <ul class = "js dropdown-content" id = "menu">
    <%= form_for :session, url: log_in_path do |f| %>
      <li><%= f.text_field :name, placeholder: "Username" %></li>
      <li><%= f.password_field :password, placeholder: "Password" %></li>
      <li><%= f.submit "Log in" %></li>
    <% end %>
    <hr />
    <%= form_for User.new, url: users_path do |f| %>
      <li><%= f.text_field :name, placeholder: "Username" %></li>
      <li><%= f.email_field :email, placeholder: "Email" %></li>
      <li><%= f.password_field :password, placeholder: "Password" %></li>
      <li><%= f.password_field :password_confirmation, placeholder: "Confirm Password" %></li>
      <li><%= f.submit "Register" %></li>
    <% end %>
    <hr />
  </ul>

<% else %>

  <nav class = "js">
    <div class = "nav-wrapper">
      <%= link_to image_tag(asset_path(type: :logo)), root_path, class: "brand-logo" %>
      <%= link_to image_tag(asset_path(type: :logo)), root_path, class: "brand-logo small" %>
      <ul class = "right hide-on-med-and-down">
        <li><a class = "dropdown-button" data-activates = "menu"><%= current_user.name %><i class = "material-icons right">arrow_drop_down</i></a></li>
      </ul>
    </div>
    <div class = "separator"></div>
  </nav>
  <ul class = "js dropdown-content" id = "menu">
    <li><%= link_to "Galleries", pools_path(current_user) %></li>
    <li><%= link_to "Order Forms", order_forms_path() %></li>
    <li><%= link_to "Workboard", workboard_path(current_user) %></li>
    <hr />
    <li><%= link_to "Profile", user_path(current_user) %></li>
    <hr />
    <li><%= link_to "Log out", log_out_path, method: "delete" %></li>
  </ul>

<% end %>