<% if anon? %>

  <nav>
    <div class = "nav-wrapper">
      <%= link_to image_for(:logo_thumb), root_path, class: "brand-logo" %>
      
      <ul class = "right hide-on-med-and-down">
        <li><a class = "dropdown-button" data-activates = "reg-menu"><div class = "vc">Log In / Register<i class = "material-icons right">arrow_drop_down</i></div></a></li>
      </ul>
      <div class = "right hide-on-med-and-down nojs">
        <%= render "users/log_in" %>
      </div>
      <a data-activates="mobile-reg-menu" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
    <div class = "separator"></div>
  </nav>
  <ul class = "js dropdown-content" id = "reg-menu">
    <%= render "users/log_in" %>
    <hr />
    <%= render "users/register" %>
    <hr />
  </ul>
  <ul class = "side-nav" id = "mobile-reg-menu">
    <%= render "users/log_in" %>
    <hr />
    <%= render "users/register" %>
    <hr />
  </ul>

<% else %>

  <nav>
    <div class = "nav-wrapper">
      <%= link_to image_for(:logo_thumb), root_path, class: "brand-logo" %>
      <ul class = "right hide-on-med-and-down">
        <li>
          <a class = "dropdown-button" data-activates = "nav-menu">
            <div class = "vc">
              <%= current_user.name %>
              <i class = "material-icons right">arrow_drop_down</i>
            </div>
          </a>
        </li>
      </ul>
      <div class = "right hide-on-med-and-down nojs">
        <%= render "users/member_menu" %>
      </div>
      <a data-activates="mobile-nav-menu" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
    <div class = "separator"></div>
  </nav>
  <ul class = "js dropdown-content" id = "nav-menu">
    <%= render "users/member_menu" %>
  </ul>
  <ul class = "side-nav" id = "mobile-nav-menu">
    <%= render "users/member_menu" %>
  </ul>
<% end %>