<%# add navigation links to this file %>
<% if !current_user.is_anonymous? %>
  <li class="dropdown">
    <a class="dropdown-toggle" aria-expanded="false" role="button" data-toggle="dropdown" href="#">
      <%= current_user.name %>
      <span class="caret"></span>
    </a>
    <ul class="dropdown-menu pull-right">
      <li><%= link_to "Gallerys", pools_path() %></li>
	  
      <li><%= link_to "Order Forms", order_forms_path() %></li>
      <li class="divider"></li>
      <li><%= link_to "Profile", user_path(current_user) %></li>
      <li><%= link_to "Settings", edit_user_path(current_user) %></li>
      <li class="divider"></li>
      <li>
         <%= link_to "Log out", logout_path, method: "delete" %>
      </li>
    </ul>
  </li>
<% else %>
<li class="closer"><%= link_to "Reset Password", password_reset_path %></li>
<li class="closer"><%= link_to 'Register', new_user_path() %></li>

<div class="navbar-form navbar-right">
	<%= form_for(:session, url: login_path, class: "navbar-form navbar-right") do |f| %>
	  <div class="form-group closer">
	      <%= f.email_field :email, class: 'form-control', placeholder: 'Username' %><br>
	  </div>
	  <div class="form-group closer">
	      <%= f.password_field :password, class: 'form-control', placeholder: 'Password' %>
	  </div>
	  <%= f.submit "Log in", class: "btn btn-primary" %><br>
	<% end %>
</div>
<% end %>

