<!DOCTYPE html>
<html>
  <head>
    <meta name = "viewport" content = "width = device-width, initial-scale = 1.0">
    <title><%= content_for?(:header)? CONFIG[:name] +" - "+sanitize_title(yield(:header)) : CONFIG[:name] %></title> 
    <meta name = "description" content = "<%= content_for?(:description)? yield(:description) : CONFIG[:name] %>">
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class = "widthTester hide"></div>
    <header>
      <%= image_for :banner %>
      <%= render "layouts/navigation" %>
    </header>
    <div class = "container">
      <div id="main">
        <div class = "row stout">
          <h2 class = "header truncate"><%= yield :header %></h2>
          <%= render "layouts/messages" %>
        </div>
        <%= yield %>
      </div>
    </div>
    <footer>
      <hr />
      <%= yield :footer %>
      <div class = "row hc">
        <span>
          <%= link_to "About", static_path(:about) %>
          <div class = "vdiv"></div>
          <%= link_to "Back", request.referer.nil?? root_path : URI(request.referer).path %>
        </span>
        <%= CONFIG[:copyright].html_safe %>
      </div>
    </footer>
    <%# console %>
  </body>
</html>
