<!DOCTYPE html>
<html>
  <head>
    <%= render "layouts/head" %>
  </head>
  <body>
    <div class = "widthTester hide"></div>
    <header>
      <%= cell(:image).(:show, :banner) %>
      <%= render "layouts/navigation" %>
    </header>
    <div class = "container <%= "fw" if controller_name == "cards" %>">
      <div id="main">
        <div class = "row stout">
          <h2 class = "header"><%= cell(controller_name.singularize).(:header, action_name.to_sym) if cell_header? %></h2>
          <%= render "layouts/flash" %>
          <%= cell(controller_name.singularize).(:instructions, action_name.to_sym) if cell_instructions? %>
        </div>
        <%= yield %>
      </div>
    </div>
    <footer>
      <hr />
      <div class = "row hc">
        <%= yield :footer %>
        <%= render "layouts/footer_links" %>
        <%= CONFIG[:copyright].html_safe %>
      </div>
      <%#= console %>
    </footer>
  </body>
</html>
