<!DOCTYPE html>
<html>
  <head>
    <%= render "layouts/head" %>
  </head>
  <body>
    <div class = "widthTester hide"></div>
    <header>
      <%= cell(:image).(:show, :banner) %>
      <%= render "layouts/navigation" %>
    </header>
    <div class = "container <%= "fw" if controller_name == "cards" %>">
      <div id="main">
        <%= render "layouts/notices" %>
        <%= yield %>
      </div>
    </div>
    <footer>
      <hr />
      <div class = "row hc">
        <%= yield :footer %>
        <%= render "layouts/footer_links" %>
        <%= CONFIG[:copyright].html_safe %>
      </div>
      <%= console %>
    </footer>
  </body>
</html>
