<!DOCTYPE html>
<html>
  <head>
    <meta name = "viewport" content = "width = device-width, initial-scale = 1.0">
    <title>
      <% if cell_header? %>
        <%= cell(controller_name.singularize).(:header, action: action_name.to_sym, sanitize: true) %>
      <% else %>
        <%= CONFIG[:name] %>
      <% end %>
    </title> 
    <meta name = "description" content = "<%= content_for?(:description)? yield(:description) : CONFIG[:name] %>">
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <h5 class = "nojs hc"><%= CONFIG[:name] %> relies heavily on javascript for everything from layout to form submission. Please enable javascript to browse this site.</h5>
    <div class = "js">
      <div class = "widthTester hide"></div>
      <header>
        <%= cell(:image).(:show, :banner) %>
        <%= cell(:user).(:navigation) %>
      </header>
      <main>
        <h2 class = "header full-small">
          <%= cell(controller_name.singularize).(:header, action: action_name.to_sym) if cell_header? %>
        </h2>
        <%= cell(:announcement).(:index) %>
        <% if flash.any? %>
          <% flash.each do |type, message| %>
            <% if message.is_a? String %>
              <div class = "<%= type %> destroyable max", id = "flash">
                <div class = "title"><%= format_flash message, type %></div>
              </div>
            <% end %>
          <% end %>
        <% end %>
        <% if flash[:errors] %>
          <div class="errors">
            <% flash[:errors].each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </div>
        <% end %>
        <%= cell(controller_name.singularize).(:instructions, action: action_name.to_sym) if cell_instructions? %>
        <%= yield %>
      </main>
      <footer>
        <div class = "row hc">
          <%= cell(controller_name.singularize).(:footer, action: action_name.to_sym) if cell_footer? %>
          <%= cell(:view).(:footer) %>
          <%= CONFIG[:copyright].html_safe %>
        </div>
        <%#= console %>
      </footer>
    </div>
  </body>
</html>