<!DOCTYPE html>
<html>
  <head>
    <meta name = "viewport" content = "width = device-width, initial-scale = 1.0">
    <title>
    	<%= CONFIG[:name] %> - <%= @title %>
    </title> 
    <meta name = "description" content = "<%= content_for?(:description)? yield(:description) : CONFIG[:name] %>">
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <h5 class = "nojs hc"><%= CONFIG[:name] %> relies heavily on javascript for everything from layout to form submission. Please enable javascript to browse this site.</h5><br class = "nojs" /><br class = "nojs" /><h5 class = "nojs hc">If you do have javascript enabled, you are only seeing this message because the site is still loading. Please wait a bit = )</h5>
            
    <div id = "page-wrapper">
      <div class = "widthTester hide"></div>
      <div class = "hide" disable-toasting = <%= current_user.setting(:disable_toasting) or current_user.setting(:disable_activity_feed) %>></div>
      <header >
      	<nav id="navbar-container">
            <div id="nav-upper">
   				<%= render "/users/#{anon? ? "anon" : "member"}/nav" %>
            </div>
			<div id="nav-lower">
				<div id="logo">
				  <%= link_to root_path do %>
     				 <%= image_tag(image_path(:logo_thumb, id: nil))%>
    			  <% end %>
				</div>
				<ul id="navbarlinks">
					<li><%= link_to "COMMISSION REQUESTS", requests_path%></li>
					<li><%= link_to "OPEN ARTISTS", root_path %></li>
					<li><a href="#">AUCTIONS/YCH</a></li>
					<li><input type="text" name="search"></li>
				</ul>
			</div>
		</nav>
		<div class = "separator"></div>
        <%# render "/users/navigation" %>
        <ul class = "js dropdown-content <%= "wide" unless anon? %>" id = "menu">
		  <%= render "/users/#{anon? ? "anon" : "member"}/menu" %>
		</ul>
		<ul class = "side-nav <%= "wide" unless anon? %>" id = "mobile-menu">
		  <%= render "/users/#{anon? ? "anon" : "member"}/menu" %>
		</ul>
      </header>
      <main>
        <h2 class = "header full-small">
        	<%= @title %>
        </h2>
       
        <% current_user.announcements.each do |announcement| %>
  			<%= hidable "Announcement#{": #{@model.subject}" unless @model.subject.blank?}", true, on_destroy: "announcement-#{@model.id}" do %>
  				<%= render_markdown announcement.content %>
			<% end %>
		<% end %>
        <% if flash.any? %>
          <% flash.each do |type, message| %>
            <% if message.is_a? String %>
              <div class = "<%= type %> destroyable max", id = "flash">
                <div class = "title"><%= format_flash message, type %></div>
              </div>
            <% end %>
          <% end %>
        <% end %>
        <% if flash[:errors] %>
          <div class="errors">
            <% flash[:errors].each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </div>
        <% end %>
        <%= render "partials/instructions" %>
        <%= yield %>
      </main>
      <footer>
        <div class = "row">
          <hr />
          <div class = "col centered">
            <%= render "partials/footer" %>
            <%= CONFIG[:copyright].html_safe %>
          </div>
        </div>
        <%#= console %>
      </footer>
    </div>
  </body>
</html>